*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
/* 
#string{
    /* height: 30%; */
    /* width: 100%; */


    /* background-color: red; */
/* } */
/* 
svg{ */
    /* border: 1px solid white; */
    /* background-color: red; */
/* } */

