*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   

body{
  background-color: #111;
  color: #fff;
}

.main{
  width: 100vw;
  height: 100vh;
  /* position: relative; */
  /* border: 1px solid red; */
}

.box{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
}