*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #111;
    height: 100%;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page1,#page2,#page3{
    height: 100vh;
    width: 100%;
}


#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20px;
    margin-bottom: 20vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav #left-options{
    padding: 10px;
    font-weight: 600;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #D8FF04;
}

#nav #right-options{
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    gap : 50px;
    font-size: 1.5vw;
    color: #D8FF04;
}

.second-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.second-container .left-container{
    /* border: 1px solid #fff; */
    height: 40vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-container .right-container{
    /* border: 1px solid #fff; */
    height: 40vh;
    padding: 5vw;
}

.second-container .right-container .ball{
    height: 6vw;
    width: 6vw;
    background-color: #fff;
    border-radius: 50%;
}


#page1 .left-container h1{
    font-size: 6vw;   
    color:#D8FF04;
    transform: translatex(-200%);
}




#page2{
    background-color: #222;
}

#move{
    background-color: #D8FF04;
    display: flex;
    overflow: hidden;
    padding: 3vw;
}
.marque h1{
font-size: 4vw;
}

.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}

img{
    height: 5vw;
    /* width: 100px; */
    color: #fff;
}