*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
}

.container{
    padding: 0 3vw 2vw 3vw; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 6vw;
}

h1 span {
    display: inline-block; /* This allows the span to be animated */
}

